<h1 class="titulo">INICIO</h1>
<a href="/login">INICIAR SESION</a>
<br>
<br>
<label for="">Escriba su mensaje</label>
<input type="text" id="mensaje">
<button onclick="enviarMensaje()">Enviar Mensaje</button>
<hr>
<br>
<label for="">Tema</label>
<input type="text" id="tema">
<button onclick="suscribirse()">Subscribirse</button>
<br>
<hr>
<ul id="mensajes">

</ul>




<style>
    .titulo{
        color: #fff;
    }
    a{
        background-color: blueviolet;
        padding: 10px;
        color: #fff;
    }

    a:hover{
        background-color: #000;
        padding: 15px;
        color: #000;
    }
    p{
        color: #fff;
    }
</style>

<script src="./browserMqtt.js"></script>
<script>
  var client = mqtt.connect("wss://still-cliffs-84000.herokuapp.com") // you add a ws:// url here

  function suscribirse() {
        var tema = document.getElementById("tema").value;
      client.subscribe(tema)
      
  }

  function enviarMensaje() {
      var mensaje = document.getElementById("mensaje").value;
      var tema = document.getElementById("tema").value;
    client.publish(tema, mensaje)
  }
 
  client.on("message", function (topic, payload) {
    //alert([topic, payload].join(": "))
    var datos = document.getElementById("mensajes").innerHTML;
    document.getElementById("mensajes").innerHTML = datos +"<li>"+ [topic, payload].join(": ") + "</li>";
    //client.end()
  })
 
  
</script> 